@keyframes scale-in {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

.state-animation {
  transition-property: all;//

  &-enter {
    animation: scale-in 200ms ease-out;
  }
  &-exit-active {
    transform: scale(0);
    animation: scale-in 100ms ease-out reverse;
  }
}

.frame-animation {
  transition-property: all;//

  &-enter {
    animation: fade-in 150ms ease-out;
  }
  &-exit-active {
    transform: scale(0);
    animation: fade-in 100ms ease-out reverse;
  }
}
