@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200;400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'partials/variables';
@import 'partials/hljs';

$button-size: 44px;
$button-border-width: 3px;

$embed-button-color: #555360;
$embed-button-emphasized-color: darken(#29abe2, 5);

html,
body {
  font-family: 'Kanit';
  background: #080a11;
  color: #fff;
}

hr {
  border-color: rgba(255, 255, 255, 0.2);
}

@keyframes scale-in {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

.state-animation {
  &-enter {
    animation: scale-in 150ms ease-out;
  }
  &-exit-active {
    transform: scale(0);
    animation: scale-in 100ms ease-out reverse;
  }
}
