@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'partials/variables';
@import 'partials/hljs';

$button-size: 44px;
$button-border-width: 3px;

$embed-button-color: #555360;
$embed-button-emphasized-color: darken(#29abe2, 5);

html,
body {
  font-family: 'Poppins';
  // background: #222;
  // color: #fff;
}

.code-editor {
  counter-reset: line;
  overflow-x: auto !important;
  color: black;

  .code-area {
    outline: none;
    padding-left: 50px !important;
  }

  pre {
    padding-left: 50px !important;
  }

  .code-area,
  pre {
    white-space: pre !important;
    word-wrap: normal !important;
  }

  .line-number {
    position: absolute;
    left: 0px;
    color: #cccccc;
    text-align: right;
    width: 30px;
    font-weight: 100;
  }
}
