@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200;400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'partials/variables';
@import 'partials/hljs';

$button-size: 44px;
$button-border-width: 3px;

$embed-button-color: #555360;
$embed-button-emphasized-color: darken(#29abe2, 5);

html,
body {
  font-family: 'Kanit';
  background: #080a11;
  color: #fff;
}

hr {
  border-color: rgba(255, 255, 255, 0.2);
}
